*,
::after,
::before {
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

body {
    text-align: center;
    margin: 0;
    font-family: roboto, sans-serif;
    position: relative;
}

.team6 {
    margin: 0;
    color: white;
}

.menu {
    height: 150vh;
    background-image: url('https://images.unsplash.com/photo-1575444758702-4a6b9222336e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}

ul {}

/* NAV BAR-------------------- */

.navBar {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    padding: 15px 35px 0;
}

.p-NavBar {
    line-height: 74px;
    color: white;
    font-weight: bold;
    transition: all 0.35s;
    cursor: pointer;
}

.p-NavBar:hover {
    border-color: #f1ff5c;
    color: rgb(158, 194, 206);
    text-shadow: 3px 1px 3px rgb(231, 255, 192),
        -2px 1px 30px rgb(231, 255, 192);
    transform: translateY(-0.25em);
    cursor: pointer;
}

.navimages {
    display: flex;
    transition: all 0.35s;
    overflow: hidden;
    border-radius: 35px;
}

.navimages:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
}

.img-NavBar {
    width: 150px;
    margin: 0;
    display: block;
}

.img-NavBar:hover {
    /* border-radius: 35px; */
}


/* SEARCHING SECTION */

.searching {
    background-color: black;
    margin-bottom: -200px;
    min-height: 150vh;
}

#searchBar {
    padding: 10px;
}

.searchWrapper {
    text-align: center;
    display: flex;
    margin: 0 auto;
    width: fit-content;
    justify-content: center;
}

.bar6 {
    color: white;
    margin: 0 auto 50px;
    text-shadow: 3px 6px 10px red,
        -5px -5px 10px red;
}

.drinkLI {
    list-style-type: none;
    border: 2px solid white;
    display: inline-block;
    border-radius: 10px;
    margin: 15px 25px;
    position: relative;
    cursor: pointer;
    background-color: rgb(201, 179, 179);
    transition: all 0.35s;
}

#drinkList {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.drinkLI:hover {
    border-color: red;
    color: red;
    font-size: large;
    box-shadow: 0 0.1rem 0.3rem 0.1rem red;
    transform: translateY(-0.35em);
    cursor: pointer;
}

.drinkIMG {
    width: 250px;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.drinkName {
    color: green;
    font-weight: bold;
    margin: 5px;
}

.drinkPrice {
    font-size: 0.8rem;
    margin: 5px;
}

.drinkCategory {
    position: absolute;
    right: 8px;
    top: 10px;
    background-color: white;
    border-top-left-radius: 8px;
    padding: 0 5px;
    font-size: 0.8rem;
}

.notFound {
    color: white;
    list-style: none;
}

.redSpan {
    color: lightcoral;
    font-weight: bold;
}

@media (max-width:720px) {
    .navBar {
        flex-direction: column;
    }

    .navimages {
        margin: 0 auto;
    }

    .p-NavBar {
        margin: 0;
    }

    body {
        text-align: center;
    }

    .drinkLI {
        margin: 25px;
        justify-content: space-around;
    }

    #searchBar {
        display: block;
        margin: auto;
    }
}

/* ADD TO CART -------------------- */
.divAddToCart {
    display: flex;
    flex-direction: column;
}


.addToCart {
    border: transparent;
    border-radius: 15px;
    margin: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    font-size: 0.7rem;
    max-width: 250px;
    transition: background-color 0.3s;
}

.addToCart:hover {
    color: rgb(20, 12, 12);
}

#addToCart {
    background-color: gold;
}

#addToCart:hover {
    background-color: rgb(183, 237, 183);
    font-weight: bold;
}

.fa-solid {
    color: white;
    font-size: 1rem;
    position: fixed;
    right: 10px;
    top: 55px;
    display: inline-block;
    z-index: 3;
    
}

.cartIcon {
    font-size: 0.4rem;
}

/* SORT BY CATEGORY  ----------------------------*/

.sortByCategory {
    color: white;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: black;
    padding: 0;
}

.tabs {
    display: flex;
    padding: 0;
    margin: 35px 10px;
}

.tab {
    border: 2px solid white;
    padding: 5px;
    width: 100%;
    min-width: 150px;
    list-style: none;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.tab:hover {
    border-color: red;
    color: white;
    box-shadow: inset 0 0 0.4rem 0.1rem red;
    color: red;
}


.itemsInCart {
    font-size: 0.8rem;
}